#btnimg1 {
    background: url(../images/youtube.png) center no-repeat ;
  }
/*//////////////////////////////////////////////////////////////////////////////////////*/
#btnimg2 {
    background: url(../images/instagram.png) center no-repeat ;
  }
/*//////////////////////////////////////////////////////////////////////////////////////*/
#btnimg3 {
    background: url(../images/profile.png) center no-repeat ;
  }
/*//////////////////////////////////////////////////////////////////////////////////////*/
#btnimg4 {
    background: url(../images/tiktok.png) center no-repeat ;
  }
/*//////////////////////////////////////////////////////////////////////////////////////*/
#btnimg5 {
    background: url(../images/twitter.png) center no-repeat ;
  }
/*//////////////////////////////////////////////////////////////////////////////////////*/
#btnimg6 {
    background: url(../images/instagram.png) center no-repeat ;
  }
/*//////////////////////////////////////////////////////////////////////////////////////*/
