
body {
    max-width: 700px;
    margin: auto;
    text-align: center;
    font-family: 'Acme';
    font-size: 50px;
    background-color: #004e92; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, #000216, #004e92);
}

.takeeasy {
    margin-top: 15px;
    margin-bottom: 10px;
}

.profilepic {
    border-radius: 25%;
    width: 700px;
    height: 700px;
}

.profilepic:hover {
  transform: scaleX(-1);
}

.checkyoutube {
    font-size: 25px;
}

.youtubepic {
    float: left;
    width: 200px;

}

h1 {
    font-size: 150px;
    color: #0056a1;
    margin-top: -15px;
    margin-bottom: 15px;
}

.fa {
    padding: 20px;
    width: 120px;
    align-items: center;
}
