
body {
    max-width: 550px;
    margin: auto;
    text-align: center;
    font-family: 'Acme';
    font-size: 50px;
    background-color: #004e92; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, #000216, #004e92);
}

img {
    border-radius: 25%;
}

img:hover {
  transform: scaleX(-1);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

h1 {
    color: #004e92;
}