
body {
    max-width: 750px;
    margin: auto;
    text-align: center;
    font-family: 'Acme';
    font-size: 40px;
    background-color: #004e92; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, #000216, #004e92);
}

.takeeasy {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 36px;
}

.profilepic {
    border-radius: 25%;
    width: 650px;
    height: 650px;
}

.profilepic:hover {
  transform: scaleX(-1);
}



.youtubepic {
    width: 250px;
    float: left;
}

h1 {
    font-size: 150px;
    color: #0056a1;
    margin-top: -15px;
    margin-bottom: 15px;
}

.fa {
    padding: 20px;
    width: 120px;
    align-items: center;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 40%
  }
  
  .text {
    padding-left: 20px;
  }